Repository adriangb/asgi-background: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, blacken, flake8, pyright

.pre-commit-config.yaml:

exclude: "^.venv/.*|.html"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
    - id: trailing-whitespace
    - id: check-yaml
    - id: pretty-format-json
      args: ["--autofix"]
    - id: check-merge-conflict
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: isort
      name: isort
      language: system
      entry: poetry run isort asgi_background tests
      types: [python]
      pass_filenames: false
    - id: blacken
      name: blacken
      language: system
      entry: poetry run black  asgi_background tests
      types: [python]
      pass_filenames: false
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8 asgi_background tests
      types: [python]
    - id: pyright
      name: pyright
      language: system
      entry: poetry run pyright asgi_background tests
      types: [python]
      pass_filenames: false

skip coverage on trivial sections
  asgi_background/_background_tasks.py
  asgi_background/_middleware.py
Due: isort, blacken, flake8, pyright

add typing-extensions
  asgi_background/_background_tasks.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, blacken, flake8, pyright

enforce coverage
  pyproject.toml
Due: lockfile

simplify ci
  .github/workflows/workflow.yaml
Due: none

use protocol
  asgi_background/_types.py
  pyproject.toml
Due: lockfile, isort, blacken, flake8, pyright

use mypy
  .pre-commit-config.yaml
  asgi_background/_types.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, blacken, flake8, pyright

revert types
  asgi_background/_types.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, blacken, flake8, pyright

remove lockfile and checks
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
Due: lockfile

remove extra assignment
  asgi_background/_middleware.py
Due: isort, blacken, flake8, pyright

remove unused var
  asgi_background/_middleware.py
Due: isort, blacken, flake8, pyright

simplify
  README.md
  asgi_background/_background_tasks.py
  asgi_background/_middleware.py
  pyproject.toml
  tests/test_background.py
Due: lockfile, isort, blacken, flake8, pyright

use task group in lifespan
  asgi_background/_middleware.py
  pyproject.toml
  tests/test_background.py
Due: lockfile, isort, blacken, flake8, pyright

handle exceptions
  README.md
  asgi_background/_middleware.py
  tests/test_background.py
Due: isort, blacken, flake8, pyright

handle running the same object twice
  asgi_background/_middleware.py
Due: isort, blacken, flake8, pyright

stringify
  asgi_background/_middleware.py
Due: isort, blacken, flake8, pyright

Update README.md
  README.md
Due: none

add backpressure
  asgi_background/_background_tasks.py
  asgi_background/_middleware.py
  tests/test_background.py
Due: isort, blacken, flake8, pyright

Release 0.2.1
  pyproject.toml
Due: lockfile

Loosen and update deps
  pyproject.toml
Due: lockfile

Set lower bound for flake8
  pyproject.toml
Due: lockfile

Revert "Set lower bound for flake8"
  pyproject.toml
Due: lockfile

Use add_task and add_task_nowait to mirror the AnyIO streams they are based on
  asgi_background/__init__.py
  asgi_background/_background_tasks.py
  asgi_background/_middleware.py
  pyproject.toml
  tests/test_background.py
Due: lockfile, isort, blacken, flake8, pyright
